
<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Welcome to this dumb shit</title>
      {% endif %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div>test: 
        <a href="/index">Home</a>
        <a href="/url">Enter URL</a>

        </div>

        <hr>
        {% block content %}{% endblock %}
    </body>
</html>