{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='main.css')}}">
{% endblock %}


{% block title %}
{{ title }}
{% endblock %}

{% block navbar %}
<div class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
      </div>
        <ul class="nav nav-navbar navbar-right">
          <li class="nav-item"><a href="{{ url_for('url') }}", class="btn btn-primary">Home</a></li>
          <li class="nav-item"><a href="{{url_for('instructions')}}", class="btn btn-primary">Instructions</a></li>
        </ul>
    </nav>
  </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}