{% extends "base.html" %}

{% block content %}
{{id}}
this really should update
<br><br>
{% for song in songlist %}
    <div>
    	<h2 style="display:inline"> #{{song.rank}}:  </h2>

    	{%for artist in song.artists %}
    		<b style="display:inline">{{artist}}, </b>
    	{%endfor%}
    	

    	<p> <img src={{song.image}}> {{ song.title }}, duration: {{song.length}}, bpm: {{song.bpm}}</p>
    	


    </div>
{% endfor %}


<br><br><br>
<div>
{% for artist in genres%}

<b> {{artist}}, count={{count[artist]}}:</b>
	{% for genre in genres[artist]%}
		<p style="display:inline"> {{genre}},
	{%endfor%}
	</p>
<br>
{%endfor%}
</div>


{% for item in plots%}
    {{item|safe}}
{%endfor%}

{% endblock %}
