{% extends "base.html" %}

{% block content %}
<br>
<br>
<h1> {{title}} </h1>
<!-- here we have the 10x10 grid of album images -->
<div class = "container">
{% for row in artwork %}
    <div class="row no-gutters">
        <div class="col-md-1 col-sm-1 col-xs-1">
        </div>
        {% for album in row %}
            <div class="col-md-1 col-sm-1 col-xs-1">
                <img src={{album}} class="fill-image">
            </div>
        {% endfor %}
    </div>

{% endfor  %}
</div>
<br><br>


<div class="container">
{% for item in plots%}
    <div class= "row plots">
        <div class="col-md-7 plots col-xs-12 col-sm-10">
            
                {{item|safe}}
       
        </div>
    </div>
    <br>
{%endfor%}
</div>


{% for song in songlist %}


    <div>
    	<h2 style="display:inline"> #{{song.rank}}:  </h2>

    	{%for artist in song.artists %}
    		<b style="display:inline">{{artist}}, </b>
    	{%endfor%}
    	

    	<p> <img src={{song.image}}> {{ song.title }}, duration: {{song.length}}, bpm: {{song.bpm}}</p>
    	


    </div>
{% endfor %}


<br><br><br>
<div>
<!--
{% for artist in genres%}

<b> {{artist}}, count={{count[artist]}}:</b>
	{% for genre in genres[artist]%}
		<p style="display:inline"> {{genre}},
	{%endfor%}
	</p>
<br>
{%endfor%}
</div>

-->

{% endblock %}
